name: ci

on:
  pull_request:
    branches: [main]

  push:
    branches: [main]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run typecheck
        run: npm run typecheck

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint
